{% extends "dggs_reg_base.html" %}


{% block title %}
<title>OGC DGGS Registry | Current Registry</title>
{% endblock title %}

{% block content %}
<h2>Current DGGS Registry</h2>
{% if dggs_registry_list %}
	<table class="content_table">
	<thead class="content_table">
	<th class="content_table">DGGS Name</th>
	<th class="content_table">Base Polyhedron</th>
	<th class="content_table">Base Polyhedron Reference</th>
	<th class="content_table">Earth Reference Model</th>
	<th class="content_table">Cell Refinement Ratio</th>
	<th class="content_table">DGGS uri</th>
	<th class="content_table">DGGS Tessellations</th>
	</thead>
	{% for item in dggs_registry_list %}
		
		<tr class="content_table">
		
		<tr class="content_table">
			<td class="content_table">{{ item.name }}</td>
			<td class="content_table">{{ item.basepoly }}</td>
			<td class="content_table">{{ item.basepoly_ref }}</td>
			<td class="content_table">{{ item.refmodel }}</td>
			<td class="content_table">{{ item.refinement_ratio }}</td>
			<td class="content_table">{{ item.uri }}</td>
		
			<td >
			<table class="tessellation_table">
				<thead class="tessellation_table">
				<th class="tessellation_table">Refinement Level</th>
				<th class="tessellation_table">Cell Type</th>
				<th class="tessellation_table">Cell Edge Type</th>
				<th class="tessellation_table">Number of Cells</th>
				<th class="tessellation_table">Cell Area</th>
				<th class="tessellation_table">Cell Area Precision</th>
				</thead>
				{% for level in item.dggstessellation_set %}
				<tr class="tessellation_table">
					<td class="tessellation_table"> {{ level.refinement_level }} </td>
					<td class="tessellation_table"> {{ level.celltype }} </td>
					<td class="tessellation_table"> {{ level.celledgetype }} </td>
					<td class="tessellation_table"> {{ level.number_of_cells }} </td>
					<td class="tessellation_table"> {{ level.cellarea }} </td>
					<td class="tessellation_table"> {{ level.cellarea_precision }} </td>
				</tr>				
				{% endfor %}			
			</table>	
			</td>	
		</tr>
		</tr>
    {% endfor %}
	</table>
	
	
	<hr>
	
	
	<table class="content_table">
	<tr>
		<td></td>
		{% for item in dggs_registry_list %}
			<th class="content_table"> {{ item.name }} </th>
		{% endfor %}
	</tr>
	{% for test in requirements_list %}
	<tr>
		<th scope="col"  class="content_table">{{ test }}</th>
		{% for item in dggs_registry_list %}
			{% if item.dggsconformancetest_set|length > 0 %}
				{% for conf_test in item.dggsconformancetest_set %}
					{% if conf_test.requirement == test %}
					<td class="content_table">
						<table class="tessellation_table">
							<thead class="tessellation_table">
								<th class="tessellation_table">Status</th>
								<th class="tessellation_table">Notes</th>
							</thead>
							<td class="tessellation_table"> {{ conf_test.status }} </td>
							<td class="tessellation_table"> {{ conf_test.notes }} </td>
						
						</table>	
					</td>
					
					{% endif %}
				{% endfor %}
			{% else %}
				<td class="content_table"></td>
			{% endif %}
		{% endfor %}	
	</tr>					
	{% endfor %}
	
	</table>
	
{% else %}
	<p class="centre">No DGGS Entries Available.</p>
{% endif %}
<hr>

{% endblock content %}


